<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1 class="main_heading"><%= title %></h1>
  <p class="wlcm_msg">Welcome to <%= title %></p>
  <hr>
  <p>
    Basic Details
    <br><br>
    Project Name - Wig App ( Video Sharing)
    <br><br>
    Repo -
    <br><br>
    Web - http://gitlab.hiteshi.com/Web/WigApp.git<br>
    Mobile - http://gitlab.hiteshi.com/NativeScript/WigApp.git<br>
    <br><br><br>

    Scope of work-<br>
    Here are the features/flow for the app.<br><br>

    Features for User (Video Owner) -<br><br>



    l User Sign Up<br>

    l User Sign In<br>

    l Forgot Password<br>

    l Subscription plan selection and payment<br>

    l Create Folder<br>

    l Upload Video (with size limit for now and in this version SSL will be implemented for security of video)<br>

    l Assign Nominee<br>

    l Nominee assignment will be by email id and if that email id is not registered with the app then an email with
    invitation link and other decided content will be sent to nominee to join the app.<br>

    l If the email id of the nominee is already registered with the app then only the informative email with decided
    content will be sent.<br><br><br>



    Features for Nominee-<br>

    l Nominee Sign In<br>

    l Forgot password<br>

    l Welcome email<br>

    l Update email to make aware that they should notify admin about the death of a person. This update will be out of
    app and document verification will also be out of app for this phase.<br>

    l Notification email when any video is approved by admin to download<br>

    l List of videos for which he is marked as nominee (after approval from Admin)<br>

    l Link to download the approved Video<br><br><br>



    Features for Admin -<br>

    l Admin will review the documents about the death of a user out of the app and validate them.<br>

    l After manual validation admin will have the option to give access to nominees on his videos.<br>

    l Admin will be only 1 and it will be hard coded user.<br>

    l Admin will have the list of users and nominees.<br><br><br>



    Out of Scope -<br>

    As this application is having wide scope to add more features and security so as per our discussion those will be
    implemented in further versions of the app. The main features which will not be there in this first version and will
    be added in later versions are-<br>

    l Uploading of death related document from nominee to share with admin<br>

    l High level encryption and decryption algorithm to make the video fully secure.<br>

    l Uploading other types of files like documents, images, pdf. For this phase only video uploading will be there.<br>

    Anything else which is not mentioned in scope and expanding the basic functionality of the application.<br><br><br>

    Client Details<br>
    Client Name - Nicholas Smith<br>
    Company Name - When I'm Gone (Wig) Ltd<br>
  </p>
</body>

</html>